<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.caoxinghua.myapplication"
    android:sharedUserId="com.test.id"
    android:versionCode="3"
    android:versionName="3.0">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <uses-feature android:name="android.hardware.Camera" />
    <uses-feature android:name="android.hardware.camera2" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="permission.test" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- 申请permission,否则第三方在申请使用权限时会异常提示deny permission -->
    <permission
        android:name="com.example.test.hua.MyContentProvider"
        android:label="provider permission"
        android:protectionLevel="normal" />
    <permission
        android:name="com.example.test.hua.MyContentProvider.read"
        android:label="provider read permission"
        android:protectionLevel="normal" />
    <permission
        android:name="com.example.test.hua.MyContentProvider.write"
        android:label="provider write permission"
        android:protectionLevel="normal" />
    <permission android:name="test.service.permission" />
    <permission android:name="permission.test" />

    <application
        android:name=".NewApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".MvvmTestActivity" />
        <activity android:name=".DrawLayoutTestActivity" />
        <activity android:name=".rxjava.TestRxJavaActivity" />
        <activity android:name=".okhttp.OkHttpTestActivity" />
        <activity
            android:name=".video.TestVideo"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".video.SurfacePlayer"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_surface_player" />
        <activity
            android:name=".TestIjk"
            android:label="@string/title_activity_test_ijk"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".keyboard.KeydemoActivity" />
        <activity android:name=".hotfix.FixMainActivity" />
        <activity android:name=".okhttp.VisibleTestActivity" />
        <activity android:name=".retrofit.RetrofitActivity" />
        <activity android:name=".defview.DefMainActivity" />

        <meta-data
            android:name="com.example.caoxinghua.myapplication.glideAndPicasso.OkHttpGlideModule"
            android:value="GlideModule" />

        <activity android:name=".glideAndPicasso.GlideAndPicassoActivity" />
        <activity android:name=".glideAndPicasso.AppComActivity" />
        <activity android:name=".okhttp.ConstraintActivity" />
        <activity android:name=".NewMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".hotfix.PatchDownloadIntentService" />

        <activity
            android:name=".video.RecoderActivity"
            android:label="@string/title_activity_recoder"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".video.TestRecordVideoActivity"
            android:label="@string/title_activity_test_record_video"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".bluetooth.TestBlueToothActivity"
            android:label="@string/title_activity_test_blue_tooth"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".allowbackup.TestAllowBackupActivity"
            android:label="@string/title_activity_test_allow_backup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".nfc.TestNfcActivity"
            android:label="@string/title_activity_test_nfc"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_data" />
        </activity>

        <service
            android:name=".service.MyService"
            android:enabled="true">
            <intent-filter>
                <action android:name="test.service.filter" />
            </intent-filter>
        </service>

        <activity
            android:name=".service.TestServiceActivity"
            android:label="@string/title_activity_test_service"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.First_Activity"
            android:configChanges="orientation"
            android:label="@string/title_activity_first_"
            android:theme="@style/AppTheme.NoActionBar"
           />
        <activity
            android:name=".activity.SecondActivity"
            android:label="@string/title_activity_second"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask"/>
        <activity android:name=".activity.ThirdActivity" />
        <activity
            android:name=".activity.TestPercentSupport"
            android:label="@string/title_activity_test_percent_support"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name=".provider.MyContentProvider"
            android:authorities="com.example.test.hua"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="com.example.test.hua.MyContentProvider"
            android:readPermission="com.example.test.hua.MyContentProvider.read"
            android:writePermission="com.example.test.hua.MyContentProvider.write" />

        <service
            android:name=".aidl.AidlService"
            android:enabled="true"
            android:permission="test.service.permission" />

        <activity android:name=".aidl.TestAIDLActivity" />

        <service android:name=".service.MyAccessibilityService">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/phone_accessibility" />
        </service>

        <activity android:name=".service.AccessibilityActivity" />
        <activity android:name=".listview.ListViewActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="org.diql.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <receiver android:name=".receiver.MyReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.MySencondReceiver"
            android:permission="permission.test">
            <intent-filter android:priority="100">
                <action android:name="test.receiver" />
            </intent-filter>
        </receiver>

        <activity android:name=".receiver.TestReceiverActivity" />
        <activity android:name=".webp.WebpActivity" />
        <activity android:name=".ndk.JniActivity" />
        <activity android:name=".asynctask.AsyncTaskActivity" />
        <activity android:name=".anim.TestAnimActivity" />
        <activity android:name=".download.DownLoadMainActivity" />
        <activity android:name=".sdk.VideoPlayerActivity" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="611491b766e7a66a1f14708f5149e709" />
        //开发者申请的key
        <!-- 定位需要的服务 -->
        <service android:name="com.amap.api.location.APSService" />

        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="test_data" />

        <activity android:name=".pick.PickActivity" />
        <activity android:name=".thirdnav.NavActivity" />
        <activity
            android:name=".widget.media.BaseActivity"
            android:label="@string/title_activity_base"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".bitmap.LargeImageActivity"></activity>
        <activity android:name=".dispatch.DispatchActivity" />
        <!--<activity android:name=".gesture.GestureActivity"></activity>-->
    </application>

</manifest>